{% extends 'main/base.html' %}
{% block content %}

<script>
    $(document).ready(function () {
        $("#prevention").on("click", function () {
            window.location.href = "{% url 'prev' %}";
        });
        $("#intervention").on("click", function () {
            window.location.href = "{% url 'interv' %}";
        });
        $("#environment").on("click", function () {
            window.location.href = "{% url 'env' %}";
        });
        $("#medic").on("click", function () {
            window.location.href = "{% url 'medic' %}";
        });
        $("#advisor").on("click", function () {
            window.location.href = "{% url 'adv' %}";
        });
        $("#cdd").on("click", function () {
            window.location.href = "{% url 'cdd' %}";
        });


        $(".home-page-button").hide();
    });
</script>


<div class="content">
    <div class="row text-center" style="width: 100%; color:white; margin-top:10vh; font-family: roboto;">
        <h4 class="display-4" style="width:100%">Create a New Report</h4>
    </div>
    <div class="row" style="margin-top: 3vh; padding-left: 26vh">
        <div class="col-2 text-center">
            <div class="xbox" style="background-color: rgb(46, 134, 46);" id="prevention">
                <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="70%"
                    viewBox="0 0 24 24" width="100%" style="padding:1vh">
                    <g>
                        <rect fill="none" height="24" width="24" />
                    </g>
                    <g>
                        <g />
                        <g>
                            <g>
                                <path
                                    d="M16.67,13.13C18.04,14.06,19,15.32,19,17v3h4v-3 C23,14.82,19.43,13.53,16.67,13.13z"
                                    fill-rule="evenodd" />
                            </g>
                            <g>
                                <circle cx="9" cy="8" fill-rule="evenodd" r="4" />
                            </g>
                            <g>
                                <path
                                    d="M15,12c2.21,0,4-1.79,4-4c0-2.21-1.79-4-4-4c-0.47,0-0.91,0.1-1.33,0.24 C14.5,5.27,15,6.58,15,8s-0.5,2.73-1.33,3.76C14.09,11.9,14.53,12,15,12z"
                                    fill-rule="evenodd" />
                            </g>
                            <g>
                                <path d="M9,13c-2.67,0-8,1.34-8,4v3h16v-3C17,14.34,11.67,13,9,13z"
                                    fill-rule="evenodd" />
                            </g>
                        </g>
                    </g>
                </svg>
                <h5 style="margin-bottom:10vh; font-size:2.4vh; font-family: roboto;">PREVENTION</h5>
            </div>
        </div>
        <div class="col-2 text-center">
            <div class="xbox" style="background-color: rgb(238, 46, 46);" id="intervention">
                <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="70%"
                    viewBox="0 0 24 24" width="100%" style="padding:1vh">
                    <g>
                        <rect fill="none" height="24" width="24" />
                    </g>
                    <g>
                        <g>
                            <path d="M9,15c-2.67,0-8,1.34-8,4v2h16v-2C17,16.34,11.67,15,9,15z" />
                            <path
                                d="M22.1,6.84c0.01-0.11,0.02-0.22,0.02-0.34c0-0.12-0.01-0.23-0.03-0.34l0.74-0.58c0.07-0.05,0.08-0.15,0.04-0.22l-0.7-1.21 c-0.04-0.08-0.14-0.1-0.21-0.08L21.1,4.42c-0.18-0.14-0.38-0.25-0.59-0.34l-0.13-0.93C20.36,3.06,20.29,3,20.2,3h-1.4 c-0.09,0-0.16,0.06-0.17,0.15L18.5,4.08c-0.21,0.09-0.41,0.21-0.59,0.34l-0.87-0.35c-0.08-0.03-0.17,0-0.21,0.08l-0.7,1.21 c-0.04,0.08-0.03,0.17,0.04,0.22l0.74,0.58c-0.02,0.11-0.03,0.23-0.03,0.34c0,0.11,0.01,0.23,0.03,0.34l-0.74,0.58 c-0.07,0.05-0.08,0.15-0.04,0.22l0.7,1.21c0.04,0.08,0.14,0.1,0.21,0.08l0.87-0.35c0.18,0.14,0.38,0.25,0.59,0.34l0.13,0.93 C18.64,9.94,18.71,10,18.8,10h1.4c0.09,0,0.16-0.06,0.17-0.15l0.13-0.93c0.21-0.09,0.41-0.21,0.59-0.34l0.87,0.35 c0.08,0.03,0.17,0,0.21-0.08l0.7-1.21c0.04-0.08,0.03-0.17-0.04-0.22L22.1,6.84z M19.5,7.75c-0.69,0-1.25-0.56-1.25-1.25 s0.56-1.25,1.25-1.25s1.25,0.56,1.25,1.25S20.19,7.75,19.5,7.75z" />
                            <path
                                d="M19.92,11.68l-0.5-0.87c-0.03-0.06-0.1-0.08-0.15-0.06l-0.62,0.25c-0.13-0.1-0.27-0.18-0.42-0.24l-0.09-0.66 C18.12,10.04,18.06,10,18,10h-1c-0.06,0-0.11,0.04-0.12,0.11l-0.09,0.66c-0.15,0.06-0.29,0.15-0.42,0.24l-0.62-0.25 c-0.06-0.02-0.12,0-0.15,0.06l-0.5,0.87c-0.03,0.06-0.02,0.12,0.03,0.16l0.53,0.41c-0.01,0.08-0.02,0.16-0.02,0.24 c0,0.08,0.01,0.17,0.02,0.24l-0.53,0.41c-0.05,0.04-0.06,0.11-0.03,0.16l0.5,0.87c0.03,0.06,0.1,0.08,0.15,0.06l0.62-0.25 c0.13,0.1,0.27,0.18,0.42,0.24l0.09,0.66C16.89,14.96,16.94,15,17,15h1c0.06,0,0.12-0.04,0.12-0.11l0.09-0.66 c0.15-0.06,0.29-0.15,0.42-0.24l0.62,0.25c0.06,0.02,0.12,0,0.15-0.06l0.5-0.87c0.03-0.06,0.02-0.12-0.03-0.16l-0.52-0.41 c0.01-0.08,0.02-0.16,0.02-0.24c0-0.08-0.01-0.17-0.02-0.24l0.53-0.41C19.93,11.81,19.94,11.74,19.92,11.68z M17.5,13.33 c-0.46,0-0.83-0.38-0.83-0.83c0-0.46,0.38-0.83,0.83-0.83s0.83,0.38,0.83,0.83C18.33,12.96,17.96,13.33,17.5,13.33z" />
                            <path
                                d="M4.74,9h8.53c0.27,0,0.49-0.22,0.49-0.49V8.49c0-0.27-0.22-0.49-0.49-0.49H13c0-1.48-0.81-2.75-2-3.45V5.5 C11,5.78,10.78,6,10.5,6S10,5.78,10,5.5V4.14C9.68,4.06,9.35,4,9,4S8.32,4.06,8,4.14V5.5C8,5.78,7.78,6,7.5,6S7,5.78,7,5.5V4.55 C5.81,5.25,5,6.52,5,8H4.74C4.47,8,4.25,8.22,4.25,8.49v0.03C4.25,8.78,4.47,9,4.74,9z" />
                            <path d="M9,13c1.86,0,3.41-1.28,3.86-3H5.14C5.59,11.72,7.14,13,9,13z" />
                        </g>
                    </g>
                </svg>
                <h5 style="margin-bottom:10vh; font-size:2.4vh; font-family: roboto;">INTERVENTION</h5>
            </div>
        </div>
        <div class="col-2 text-center">
            <div class="xbox" style="background-color: rgb(11, 87, 158);" id="environment">
                <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="70%"
                    viewBox="0 0 24 24" width="100%" style="padding:1vh">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path
                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 17.93c-3.95-.49-7-3.85-7-7.93 0-.62.08-1.21.21-1.79L9 15v1c0 1.1.9 2 2 2v1.93zm6.9-2.54c-.26-.81-1-1.39-1.9-1.39h-1v-3c0-.55-.45-1-1-1H8v-2h2c.55 0 1-.45 1-1V7h2c1.1 0 2-.9 2-2v-.41c2.93 1.19 5 4.06 5 7.41 0 2.08-.8 3.97-2.1 5.39z" />
                </svg>
                <h5 style="margin-bottom:10vh; font-size:2.4vh; font-family: roboto;">ENVIRONMENT</h5>
            </div>
        </div>
        <div class="col-2 text-center">
            <div class="xbox" style="background-color: rgb(71, 142, 184);" id="medic">
                <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="70%"
                    viewBox="0 0 24 24" width="100%" style="padding:1vh">
                    <g>
                        <path d="M0,0h24v24H0V0z" fill="none" />
                    </g>
                    <g>
                        <path
                            d="M12,2c-5.33,4.55-8,8.48-8,11.8c0,4.98,3.8,8.2,8,8.2s8-3.22,8-8.2C20,10.48,17.33,6.55,12,2z M15,18H9v-2h6V18z M15,13h-2 v2h-2v-2H9v-2h2V9h2v2h2V13z" />
                    </g>
                </svg>
                <h5 style="margin-bottom:10vh; font-size:2.4vh; font-family: roboto;">MEDIC</h5>
            </div>
        </div>
        <div class="col-2 text-center">
            <div class="xbox" style="background-color: rgb(121, 121, 121);" id="advisor">
                <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="70%"
                    viewBox="0 0 24 24" width="100%" style="padding:1vh">
                    <g>
                        <rect fill="none" height="24" width="24" />
                    </g>
                    <g>
                        <g>
                            <path
                                d="M17,11c0.34,0,0.67,0.04,1,0.09V6.27L10.5,3L3,6.27v4.91c0,4.54,3.2,8.79,7.5,9.82c0.55-0.13,1.08-0.32,1.6-0.55 C11.41,19.47,11,18.28,11,17C11,13.69,13.69,11,17,11z" />
                            <path
                                d="M17,13c-2.21,0-4,1.79-4,4c0,2.21,1.79,4,4,4s4-1.79,4-4C21,14.79,19.21,13,17,13z M17,14.38c0.62,0,1.12,0.51,1.12,1.12 s-0.51,1.12-1.12,1.12s-1.12-0.51-1.12-1.12S16.38,14.38,17,14.38z M17,19.75c-0.93,0-1.74-0.46-2.24-1.17 c0.05-0.72,1.51-1.08,2.24-1.08s2.19,0.36,2.24,1.08C18.74,19.29,17.93,19.75,17,19.75z" />
                        </g>
                    </g>
                </svg>
                <h5 style="margin-bottom:10vh; font-size:2.4vh; font-family: roboto;">ADVISOR</h5>
            </div>
        </div>


    </div>
    <div class="row text-center" style="width: 100%; color:white; margin-top:10vh; font-family: roboto;">
        <h4 class="display-4" style="width:100%">Access CDD Panel</h4>
    </div>
    <div class="row text-center">
        <div class="xbox mx-auto small-guy" style="background-color: rgb(235, 125, 0);" id="cdd">
            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="70%" viewBox="0 0 24 24"
                width="100%" style="padding:1vh">
                <rect fill="none" height="24" width="24" />
                <g>
                    <path
                        d="M17.41,6.59L15,5.5l2.41-1.09L18.5,2l1.09,2.41L22,5.5l-2.41,1.09L18.5,9L17.41,6.59z M21.28,12.72L20.5,11l-0.78,1.72 L18,13.5l1.72,0.78L20.5,16l0.78-1.72L23,13.5L21.28,12.72z M16.24,14.37l1.94,1.47l-2.5,4.33l-2.24-0.94 c-0.2,0.13-0.42,0.26-0.64,0.37L12.5,22h-5l-0.3-2.41c-0.22-0.11-0.43-0.23-0.64-0.37l-2.24,0.94l-2.5-4.33l1.94-1.47 C3.75,14.25,3.75,14.12,3.75,14s0-0.25,0.01-0.37l-1.94-1.47l2.5-4.33l2.24,0.94c0.2-0.13,0.42-0.26,0.64-0.37L7.5,6h5l0.3,2.41 c0.22,0.11,0.43,0.23,0.64,0.37l2.24-0.94l2.5,4.33l-1.94,1.47c0.01,0.12,0.01,0.24,0.01,0.37S16.25,14.25,16.24,14.37z M13,14 c0-1.66-1.34-3-3-3s-3,1.34-3,3s1.34,3,3,3S13,15.66,13,14z" />
                </g>
            </svg>
            <h5 style="margin-bottom:10vh; font-size:2.4vh; font-family: roboto;">CDD<br /> <span
                    style="font-size: 1.2vh; color:rgb(58, 76, 90)">Authentication Required</span></h5>
        </div>
    </div>

</div>
{% endblock%}